body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
.body__quiz {
    background: linear-gradient(to bottom right, rgba(30, 107, 218, 1) 0%, rgba(179, 205, 242, 1) 68%, rgba(19, 100, 216, 1) 100% );
}


/*typography*/
.herosection__headline {
    font-size: 2rem;
}
.section__headline {
    font-size: 1.25rem;
}
.text-large {
    font-size: 1.25rem;
    font-weight: bold;
}
.text {
    font-size: 1rem;
}
.text-small {
    font-size: 0.75rem;
}
.text-xSmall {
    font-size: 0.65rem;
}
.textSpan-xSmall {
    font-size: 0.65rem;
    font-weight: bold;
}
.text__link {
    color: rgba(8, 53, 117, 1);
    font-weight: bold;
}
.text-bold {
    font-weight: bold;
}
.text-marginTop {
    margin-top: 0px;
    margin-bottom: 0px;
  }

/*----*/

/*header*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    transition: background-color 0.3s ease;
    z-index: 1;
}
.header--transparent {
    background-color: transparent;
}
.header--scrolled {
    background-color: white;
}
.logo {
    height: 55px; 
}
.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}
.nav-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 2;
    padding-top: 70px; 
    transition: transform 0.3s ease;
    transform: translateX(100%);
}
.nav-menu--open {
    display: block;
    transform: translateX(0);
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-list li {
    margin: 20px 0;
}
.menu-list a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
}
/*----*/


/*herosection*/
.herosection {
    position: relative;
    width: 100%;
    margin: 0; 
    left: 0;
    right: 0;
    overflow: hidden; 
    margin-bottom: -5px;
}
.hero__image {
    width: 100%;
    margin: 0;
    display: block;
}
.herosection__headline {
    position: absolute;
    bottom: 40px;
    left: 0;
    margin: 0;
    color: white;
    padding: 5px;
}
.section__soMe {
    position: absolute;
    right: 5px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-icon svg {
    width: 45px; 
    height: 45px;
    display: block;
    fill: whitesmoke;
}
/*----*/

/*svg container*/
.svg-container {
    width: 100%;
    height: 50px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin-bottom: 0px;
  }
  .svg-container svg {
    width: 100%;
    height: auto;
  }
/*----*/

.process__slider {
    justify-content: center;
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

/*category cards*/

.category__card {
    position: relative;
    min-width: 340px; 
    margin-bottom: 65px;
    text-decoration: none;
    color: inherit;
}

.category__link {
    display: block;
    position: relative;
}

.category__image {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 8px;
}

.photographer {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 5px;
    color: whitesmoke;
}

.category__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, black, transparent);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    min-height: 60px;
    border-radius: 8px;
}

.headline-align {
    margin: 0;
    text-align: center;
}

.text-align {
    margin: 10px 0 25px 0;
    text-align: center;
}
.border__line {
    display: block;
    margin: auto auto 0 auto;
}
/*----*/

.card__link {
    margin-bottom: 20px;
}

/*button*/
.button {
    display: inline-block;
    min-width: 180px;
    min-height: 65px;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
    padding: 5px 20px;
}
/*----*/


.placeholder {
    justify-content: center;
    text-align: center;
    background-color: beige;
    padding: 5px;
}

.text__link {
    margin: auto 5px auto auto;
    display: flex;
    justify-content: flex-end;
}

.space__line {
    margin: 65px auto;
}


/* kids banner */
.kids__area {
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-height: 390px;
    width: 100%;
    color: white;
    background: linear-gradient(to bottom right, rgba(201, 91, 98, 1), rgba(247, 166, 62, 1));
}
.kids__areaButton {
    background-color: white;
    color: rgba(246, 147, 35, 1);
    align-self: flex-end;
    border: 1px solid rgba(209, 125, 51, 1);
    box-shadow: 4px 4px 6px rgba(82, 157, 184, 0.25);
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
}
.kids__areaDiscription {
    display: flex;
    align-items: center;
}
/*----*/


/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
}
.footer__link {
    justify-content: flex-start;
    margin-bottom: 10px;
}
.footer__contact {
    max-width: 165px;
}
/*----*/

/*quiz*/
.quiz__discription {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz__process--transparent {
    background-color: transparent;
}
.quiz__process--scrolled {
    background-color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 10px;
    z-index: 1;
    top: 80px;
    margin-top: 0;
}
.quiz__map {
    padding: 5px;
    margin: 40px 0;
}
.quiz__map img{
    width: 100%;
}
.answers {
    color: rgba(29, 52, 99, 1);
    font-weight: bold;
}
.question {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-radius: 16px;
    padding: 20px 10px;
    background-color: rgba(215, 245, 255, 0.5);
  }
  .question__number {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .question__text {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .guiz__map {
    max-width: 340px;
    margin-top: 40px;
  }
  .question__image {
    width: 80%;
    align-self: center;
    border-radius: 12px;
    border: 1px solid black;
  }

  .question__subtitle {
    flex: 1;
    font-size: 18px; 
    color: #333;
    margin: 0; 
    display: flex;
    flex-direction: column; 
  }
  .options {
    list-style-type: none;
    padding: 0;
  }
  .option__button {
    min-width: 340px;
    min-height: 60px;
    font-size: 20px;
    display: flex;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: rgba(29, 52, 99, 1);
    cursor: pointer;
    color: white;
    align-items: center;
    border: none;
    box-shadow: 4px 4px 6px rgba(28, 51, 61, 0.3), inset 4px 4px 6px rgba(54, 80, 137, 1);
  }
  .option__button.correct {
    background-color: rgba(24, 129, 101, 1);
    color: white;
    box-shadow: inset 4px 4px 6px rgba(54, 80, 137, 1);
  }
  .option__button.incorrect {
    background-color: #f44336;
    color: white;
    box-shadow: inset 4px 4px 6px rgba(54, 80, 137, 1);
  }
  /*----*/